.container {
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;
    background-size: 100% 100%;
    overflow: auto;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 50%,#a8a8a8 100%);
}
.calendar-head{
    color:#333;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: center;
    padding: 0 30rpx 0rpx 30rpx;
    .calendar-info{
        font-weight: 300;
        font-size:1rem;
    }
    .calendar-date{
        font-size: 3rem;
        font-weight: 700;
        color:#CC0000;
    }
}
.calendar-baiji{
    color:#333;
    font-size:1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    .baiji-info{
        margin:10rpx;
        font-weight:500;
    }
}
.calendar-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    min-height:20vh;
    border-right: 4rpx solid #CCC;
}
.calendar-sub{
    min-height:20vh;
    flex:3;
}
.section{
    min-height:20vh;
    background-color: #fff;
    margin: 20rpx;
    border-radius: 10rpx;
    padding: 20rpx;
    box-shadow: 2px 2px 2px 1px #ddd;
    font-size: 28rpx;
    line-height: 2em;
    .section-row{
        display: flex;
    }
}

.calendar-subinfo{
    align-content: flex-start;
    .calendar-text{
        text-align: center;
        color:#333;
        padding:10rpx 0 10rpx 0;
        line-height: 1rem;
        font-size:.9rem;
        .yistyle{
            color:#CC0000
        }
    }
}
.foot-section{
    min-height:6vh;
    background-color: #fff;
    margin: 20rpx;
    border-radius: 10rpx;
    padding: 20rpx;
    box-shadow: 2px 2px 2px 1px #ddd;
    font-size: 28rpx;
    line-height: 2em;
    .foot-row{
        display: flex;
    }
}
.foot-text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:5vh;
    flex:1;
    font-size:1rem;
    border-right: 4rpx solid #CCC;
    .ji{
        color:#CC0000;
    }
}
.foot-info{
    min-height:5vh;
    flex:3;
}
