.container {
    width: 100%;
    height: 100vh;
    background: #f7f7f7;
    overflow: auto;
  }
.picker-view{
  padding:24rpx;
  border-top: 2rpx solid #d6e4ef ;
  border-bottom: 2rpx solid #d6e4ef ;
  transition: background-color 0.3s;
  .picker{
    font-size:1rem;
    color:#333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .picker-gray{
    color:#999;
  }
}
.picker-view:active
{
    background-color:#e5e5e5;
}
.pick-noborder{
  border-top: 0rpx solid #d6e4ef ;
  border-bottom: 0rpx solid #d6e4ef ;
}
.ratecomput-title{
  display: flex;
  justify-content: flex-start;
  margin:0 20rpx;
  padding:0 24rpx;
  align-items: center;
  color:#6190e8;
  border-bottom:2rpx solid #d6e4efaf
}
.ratecomput-input{
  padding:0 20rpx 20rpx 20rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .at-col4{
    width:40%
  }
  .at-col6{
    width:60%
  }
}
.ratecomput-btn-view{
  padding:20rpx;
  .ratecomput-btn{
    width:30%;
    display: flex;
    transition: background-color 0.3s;
    justify-content: center;
  }
  .btn-change{
    width:80rpx;
    height:80rpx;
    background: #fff;
  }
  .btn-change::after {
    border: 1rpx solid #666;
  }
  .btn-change:active{
    background: #e5e5e5;
  }
  .btn-submit{
    color: #fff;
    background: #6190e8;
  }
  .btn-submit::after {
    border: none;
  }
  .btn-submit:active{
    background:rgba(97, 144, 232, 0.7)
  }
}
.result-view{
  padding:20rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*外汇牌价*/
.rate-title{
  display: flex;
  justify-content: flex-start;
  margin:0 20rpx;
  padding:0 24rpx;
  align-items: center;
  color:#a71e32;
  border-bottom:2rpx solid #d6e4efaf
}
.rate-info{
  margin:20rpx;
  
  .item{
      padding: 24rpx 24rpx;
      position: relative;
      box-sizing: border-box;
      color: #333;
      font-size: 32rpx;
      line-height: 1.5;
      transition: background-color 0.3s;
      position: relative;
      border-bottom: 2rpx solid #d6e4efaf;
  }
  .tips{
    color:#ef4238;
    font-size:.7rem;
  }
  .rate-red{
    color:#ef4238;
    font-weight: bold;
  }
  .rate-blue{
      color:#6190e8;
      font-weight: bold;
  }
}

.section {
  background-color: #fff;
  margin: 20rpx;
  border-radius: 10rpx;
  padding: 20rpx;
  box-shadow: 2px 2px 2px 1px #ddd;
  Text {
      font-size: 28rpx;
      line-height: 2em;
      color:#666;
  }
} 