.container {
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;
}

$heights:70vh;
.test-h{
    height:$heights;
    margin:30rpx;
}
.history-swiper{
    border-radius: 3%;
    height:$heights - 6;
    margin:20rpx;
    background-size: 100% 100%;
}
.history-title{
    position: absolute;
    top: 5%;
    left: 5%;
    width:100%;
    font-weight:600;
    font-size: 2rem;
    margin:20rpx;
    color:#fff;
}
.history-info{
    position: absolute;
    bottom: 10%;
    height:10vh;
    margin:20rpx;
    left: 5%;
    font-weight:blod;
    font-size: .9rem;
    color:#fff;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.wallpaper-swiper{
    border-radius: 3%;
    height:$heights - 6;
    margin:20rpx;
    background-size: cover;
}
.wallpaper-title{
    position: absolute;
    top: 5%;
    left: 5%;
    width:100%;
    font-weight:600;
    font-size: 2rem;
    margin:20rpx;
    color:#fff
}
.weather-local{
    position: absolute;
    top: 3%;
    left: 5%;
    width:90%;
    font-weight:normal;
    font-size: 1rem;
    margin:20rpx;
    color:#fff
}
.weather-tem{
    position: absolute;
    bottom: 18%;
    left: 4%;
    width:90%;
    font-weight:400;
    font-size: 4rem;
    margin:20rpx;
    color:#fff
}
.weather-info{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width:60%;
    height:10vh;
    font-weight:200;
    font-size: .8rem;
    margin-left:20rpx;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.wea-update{
    font-size: .4rem;
}
.weather-icon{
    position: absolute;
    bottom: 10%;
    margin-left:20rpx;
    left: 4%;
    width:20%;
    height:10vh;
    width:10vh;
    background-size: 100% 100%;
}
.weather-temInfo{
    font-size: .8rem;
}
.index-body{
    margin: 20rpx 0 20rpx;
    background: #fff;
    box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,.11);
    min-height:100rpx;
}
