.container {
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;
}

$heights:70vh;
.test-h{
    height:$heights;
    margin:30rpx;
}
.history-swiper{
    border-radius: 3%;
    height:$heights - 6;
    margin:20rpx;
    background-size: 100% 100%;
}
.history-bg{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 3%;
    height:$heights - 6;
    margin:20rpx;
    background:rgba(1, 1, 1, 0.5);
}
.history-title{
    position: absolute;
    top: 5%;
    left: 5%;
    width:100%;
    font-weight:600;
    font-size: 2rem;
    margin:20rpx;
    color:#fff;
}
.history-info{
    position: absolute;
    bottom: 8%;
    height:12vh;
    margin:20rpx;
    left: 5%;
    font-weight:blod;
    font-size: .9rem;
    color:#ffffff;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    .history-text{
        margin:10rpx 0;
    }
}
.wallpaper-positioning{
    border-radius: 3%;
    height:$heights - 6;
    margin:20rpx;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.wallpaper-swiper{
    border-radius: 3%;
    height:$heights - 6;
    margin:20rpx;
    background-size: cover;
}
.wallpaper-title{
    position: absolute;
    top: 5%;
    left: 5%;
    width:100%;
    font-weight:600;
    font-size: 2rem;
    margin:20rpx;
    color:#fff
}
.weather-bg{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 3%;
    height:$heights - 6;
    margin:20rpx;
    background:rgba(1, 1, 1, 0.3);
}
.weather-local{
    position: absolute;
    top: 3%;
    left: 5%;
    width:90%;
    font-weight:normal;
    font-size: 1rem;
    margin:20rpx;
    color:#fff
}
.weather-tem{
    position: absolute;
    bottom: 18%;
    left: 4%;
    width:90%;
    font-weight:400;
    font-size: 4rem;
    margin:20rpx;
    color:#fff
}
.weather-info{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width:60%;
    height:10vh;
    font-weight:200;
    font-size: .8rem;
    margin-left:20rpx;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.wea-update{
    font-size: .4rem;
}
.weather-icon{
    position: absolute;
    bottom: 10%;
    margin-left:20rpx;
    left: 4%;
    width:20%;
    height:10vh;
    width:10vh;
    background-size: 100% 100%;
}
.weather-temInfo{
    font-size: .8rem;
}
.index-body{
    margin: 20rpx 0 20rpx;
    background: #fff;
    box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,.11);
    min-height:100rpx;
}
.login-model{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size:1rem;
}
.icon-position{
    animation: positioning 1.5s infinite ease-in-out;
}
.positon-text{
    font-size:1rem;
    color:#4395ff;
}
@keyframes positioning {
	0% {
	    opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}